name: workflow1
on: push
jobs:
  runs-on: ubuntu-latest
  steps:
    - name: Get code
      uses: actions/checkout@v3
    - nmae: Install NodeJS
      uses: actions/setup-node@v3
    - name: Install dependencies
      run:  npm ci
    - name: Run lint
      run: npm run lint
    - name: Run test
      run: npm run test
    - name: Run Build
      run: npm run build